<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>info.ennowelbers.syphon.framebuffer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>EWProxyFramebuffer</key>
		<dict>
			<key>IOUserClientClass</key>
			<string>info_ennowelbers_syphon_proxyframebuffer_client</string>
			<key>IOClass</key>
			<string>info_ennowelbers_syphon_proxyframebuffer_driver</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOMatchCategory</key>
			<string>info_ennowelbers_syphon_proxyframebuffer_driver</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>CFBundleIdentifier</key>
			<string>info.ennowelbers.syphon.framebuffer</string>
			<key>loadFramebuffer</key>
			<true/>
			<key>MaxResolution</key>
			<dict>
				<key>width</key>
				<integer>1280</integer>
				<key>height</key>
				<integer>1024</integer>
			</dict>
			<key>DriverModes</key>
			<array>
				<dict>
					<key>name</key>
					<string>320x240</string>
					<key>width</key>
					<integer>320</integer>
					<key>height</key>
					<integer>240</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>640x480</string>
					<key>width</key>
					<integer>640</integer>
					<key>height</key>
					<integer>480</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>720x576</string>
					<key>width</key>
					<integer>720</integer>
					<key>height</key>
					<integer>576</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>800x600</string>
					<key>width</key>
					<integer>800</integer>
					<key>height</key>
					<integer>600</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>1024x768</string>
					<key>width</key>
					<integer>1024</integer>
					<key>height</key>
					<integer>768</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>1280x720</string>
					<key>width</key>
					<integer>1280</integer>
					<key>height</key>
					<integer>720</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>1280x768</string>
					<key>width</key>
					<integer>1280</integer>
					<key>height</key>
					<integer>768</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>1280x800</string>
					<key>width</key>
					<integer>1280</integer>
					<key>height</key>
					<integer>800</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>1280x1024</string>
					<key>width</key>
					<integer>1280</integer>
					<key>height</key>
					<integer>1024</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
