<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EWProxyFrameBuffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EWProxyFrameBufferConnection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EWProxyframeBufferApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EWSyphonVirtualScreen.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Syphon Virtual Screen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32D94FC30562CBF700B6AF17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96614DA710E92DB70066624E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96614E0410E930720066624E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96614E9C10E93A820066624E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD7C8C97151B8EE600A85955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD7F7824151A3D5B00EEE064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD7F7844151A3D5C00EEE064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
